
/* metcard styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* general
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.topnavBg {
	background-color: #99CCFF;
}

/* typography
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h1 {
	color: #ffffff;
	margin-bottom: 2px;
	margin-top: 2px;
	}
	
h2 {
	color: #0033CC;
	}

.faresZonesLink, .ticketLinks {
	font-size: 75%;
	}

.newsType {
	color: #0033CC;
	}

.subheading, .formTitle {
	color: #0033CC;
	font-weight: bold;
	}


/* default links
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

a {
	color: #0033CC;
	}

a:hover {
	color: #001A66;
	}

.ticket_links_table a:visited {
	color: #77A7E9;
	}

.ticket_links_table a:hover {
	color: #023073;
	}


/* ARROW GREY LINK --------------------------------------------------- */
.arrow {
	font-size: 70%;
	font-family: arial, verdana, helvetica, sans-serif;
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
	}

a.arrow:hover {
	font-family: arial, verdana, helvetica, sans-serif;
	color: #000;
	}


/* leftnav
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

a.leftnav:hover {
	color: #0033CC;
	}

a.leftSubnav:hover {
	color: #0033CC;
	}

.leftnavOn {
	color: #0033CC;
	}

.navOn .leftnav, .navOn .leftSubnav {
	color: #0033CC !important;
	}

a.leftnavOn:hover {
	color: #0033CC;
	}

.leftSubnavOn {
	color: #0033CC;
	}

a.leftSubnavOn:hover {
	color: #0033CC;
	}

.navOn {
	color: #0033CC;
}


/* homepage question styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.hm_questions {
	font-family: verdan, arial, san-serif;
	}

.hm_questions span {
	font-size: 75%;
	}

.hm_questions .title, .hm_questions .answers {
	font-weight: bold;
	color: #ffffff;
	margin-left: 3px;
	}

.hm_questions .answers {
	margin-top: 2px;
	display: block;
	}

.hm_questions a {
	color: #000000;
	text-decoration: none;
	}

.hm_questions a:hover {
	color: #ffffff;
	}
/*
     FILE ARCHIVED ON 13:28:21 Jun 27, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:29:22 Jan 17, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 61.027
  exclusion.robots: 0.089
  exclusion.robots.policy: 0.079
  cdx.remote: 0.068
  esindex: 0.012
  LoadShardBlock: 33.037 (3)
  PetaboxLoader3.datanode: 85.208 (4)
  load_resource: 105.7
  PetaboxLoader3.resolve: 40.014
*/